<a href="https://colab.research.google.com/github/Otobi1/Bike-Demand-Prediction/blob/master/Bike_Demand_Prediction_SLR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

import warnings
warnings.filterwarnings('ignore')

In [2]:
from google.colab import drive
drive.mount('/drive')

Drive already mounted at /drive; to attempt to forcibly remount, call drive.mount("/drive", force_remount=True).

In [3]:
df = pd.read_csv('/drive/My Drive/Colab Notebooks/processed_bike_demand.csv')

data = df.copy()

In [4]:
data.head()

   Rented Bike Count  Hour  ...  Functioning No  Functioning Yes
0                254     0  ...               0                1
1                204     1  ...               0                1
2                173     2  ...               0                1
3                107     3  ...               0                1
4                 78     4  ...               0                1

[5 rows x 18 columns]

In [5]:
data.describe()

       Rented Bike Count         Hour  ...  Functioning No  Functioning Yes
count        8760.000000  8760.000000  ...     8760.000000      8760.000000
mean          704.602055    11.500000  ...        0.033676         0.966324
std           644.997468     6.922582  ...        0.180404         0.180404
min             0.000000     0.000000  ...        0.000000         0.000000
25%           191.000000     5.750000  ...        0.000000         1.000000
50%           504.500000    11.500000  ...        0.000000         1.000000
75%          1065.250000    17.250000  ...        0.000000         1.000000
max          3556.000000    23.000000  ...        1.000000         1.000000

[8 rows x 18 columns]

In [6]:
data.shape

(8760, 18)

In [7]:
X = data.iloc[:, 1:]

In [8]:
X.head()

   Hour  Temperature(°C)  Humidity(%)  ...  Winter  Functioning No  Functioning Yes
0     0             -5.2           37  ...       1               0                1
1     1             -5.5           38  ...       1               0                1
2     2             -6.0           39  ...       1               0                1
3     3             -6.2           40  ...       1               0                1
4     4             -6.0           36  ...       1               0                1

[5 rows x 17 columns]

In [9]:
y = data.iloc[:, 0].astype(int)

In [10]:
TRAIN_SIZE = 0.7
VAL_SIZE = 0.15
TEST_SIZE = 0.15

In [11]:
X_train, X_, y_train, y_ = train_test_split(X, y, train_size = TRAIN_SIZE)

In [12]:
print (f'train: {len(X_train)} ({(len(X_train) / len(X)):.2f})\n'
       f'remaining:{len(X_)} ({(len(X_) / len(X)):.2f})')

train: 6132 (0.70)
remaining:2628 (0.30)

In [13]:
X_val, X_test, y_val, y_test = train_test_split(X_, y_, train_size = 0.5)

In [14]:
print (f'train: {len(X_train)} ({(len(X_train) / len(X)):.2f})\n'
       f'val: {len(X_val)} ({len(X_val) / len(X):.2f})\n'
       f'test: {len(X_test)}({len(X_test) / len(X):.2f})')

train: 6132 (0.70)
val: 1314 (0.15)
test: 1314(0.15)

In [15]:
from sklearn.linear_model import LinearRegression

In [16]:
regressor = LinearRegression()

In [17]:
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [19]:
regressor.predict(X_test[:5])

array([572.84955735, 667.04787382, 805.25136671, 832.61421175,
       -94.44064888])

In [20]:
print (y_test[:5])

2475     142
7134     141
4138    1119
4149      58
746      178
Name: Rented Bike Count, dtype: int64